/* ----------- begin ----------- 增加阅读区宽度 */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
  }
}

.post-content, post-custom {
  padding-left: 5%;
  padding-right: 5%;
}
/* ----------- end ----------- 增加阅读区宽度 */

/* ----------- begin ----------- 修改亮/暗主题下的 h1 ~ h6 标题的颜色 */
:root {
  --post-heading-color: #419DFF;
}

[data-user-color-scheme="dark"] {
  --post-heading-color: #c4c6c9;
}
/* ----------- end ----------- 修改亮/暗主题下的 h1 ~ h6 标题的颜色 */